{% extends 'base2.html' %}
{% load static %}

{% block title %}
  About
{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block body %}

  <main id="main">
    <section class="services">
      <div class="container">
        <div class="section-title">
          <h2>SmartYatra: The Future of Public Transportation</h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
                <img class="img11" src="\static\img\accessible.png" alt="">
              <h4 class="title"><a href="">Accessible</a></h4>
              <p class="description">
                SmartYatra ensures that public transportation becomes accessible to all individuals. By providing real-time information, accessible routes, and inclusive features, our app empowers everyone to conveniently navigate and utilize public transportation systems.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-green">
              <img class="img11" src="\static\img\Sustainability.png" alt="">
              <h4 class="title"><a href="">Sustainable</a></h4>
              <p class="description">
                Embracing sustainability is at the core of SmartYatra's mission. By promoting the use of public transportation over private vehicles, we contribute to reducing carbon emissions and minimizing our ecological footprint.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-cyan">
              <img class="img11" src="\static\img\traffic.png" alt="">
              <h4 class="title"><a href="">Reduce Traffic</a></h4>
              <p class="description">
                SmartYatra plays a crucial role in alleviating urban congestion by prioritizing public transportation options. By offering comprehensive route planning and encouraging shared mobility solutions, our app helps decongest roads and reduce traffic jams.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-yellow">
              <img class="img11" src="\static\img\costSaving.png" alt="">
              <h4 class="title"><a href="">Cost Saving</a></h4>
              <p class="description">
                Choosing public transportation through SmartYatra translates into significant cost savings for commuters. By opting for buses, trains, or rideshares instead of driving personal vehicles, users can save on fuel expenses, parking fees, and maintenance costs.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>
  </main>

{% endblock %}