{% extends 'base2.html' %}
{% load static %}
{% block title %}
SmartPlanner
{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{% static 'css/mapstyle.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<!-- leaftlet routing services css -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script src="{% static 'js/map.js' %}"></script>


{% endblock %}

{% block body %}

<main id="main-feature">
  <div class="main-div">
    <div class="main-containers">
      <!-- this is route planner -->
      <div>
        <h5 id="attractive-heading"></h5>
      </div>
      <div class="box1">
        <div class="container2">
          <form class="form1" id="route-form" action="{% url "planner" %}" method="post">
            {% csrf_token %}
            <div class="Col-1">
              <input type="text" class="form-control" list="source_node" id="source" name="source" value="{{source}}"
                placeholder="Enter your Location..." />
              <datalist id="source_node">
                {% for node in nodes %}
                <option value="{{node.name}}">{{node.name}}</option>
                {% endfor %}
              </datalist>
            </div>
            <div class="Col-1">
              <input type="text" class="form-control" list="destination_node" id="destination" name="destination"
                value="{{destination}}" placeholder="Enter your destination..." />
              <datalist id="destination_node">
                {% for node in nodes %}
                <option value="{{node.name}}">{{node.name}}</option>
                {% endfor %}
              </datalist>
            </div>
            <div class="Col-2">
              <div class="d-grid gap-2 col-3 mx-auto">
                <button class="btn btn-success" type="submit">Go</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- this is time showing for cycle,walk,bike -->
      {% if routes %}

      <div class="box1">
        <div class="container2">
          <div class="col1">
            <div class="imagewa">
              <img class="img12" src="\static\img\walk1.png" alt="">
            </div>
            <div class="timewa">
              <p style="color: white ">30 min</p>
            </div>
          </div>
          <div class="col2">
            <div class="imagewa">
              <img class="img11" src="\static\img\bicycle1.png" alt="">
            </div>
            <div class="timewa">
              <p style="color: white;">30 min</p>
            </div>
          </div>
          <div class="col3">
            <div class="small-col">
              <div class="imagewa">
                <img class="img11" src="\static\img\cab1.png" alt="">
              </div>
              <div class="timewa">
                <p style="color: white;">30 min</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- this box for showing the bus schedule -->
      <div class="box1">
        <div class="container3">
          <table class="table table-hover" id="data-table">
            <thead id="data-table">
              <tr>
                <th>Bus Plate No</th>
                <th>Arriving Time</th>
                <th>Cost</th>
                <th>Time to Reach</th>
              </tr>
            </thead>
            <tbody id="data-body">
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>


    <div class="map-container">
      <div class="map-column">
        <div id="map">
          <iframe
            src="https://www.openstreetmap.org/export/embed.html?bbox=82.6007080078125%2C25.12601428552865%2C83.24340820312501%2C25.544919592476727&amp;layer=mapnik"
            style="border: 1px solid black"></iframe>
        </div>
      </div>
    </div>
  </div>
</main>

{% if routes %}
<script>
  console.log("i got the routes");
</script>
<script src="{% static 'js/planner.js' %}"></script>
<input type="hidden" id="routes-data" value="{{ routes|escapejs }}">
{% endif %}

{% endblock %}

<!--for dropdown -->
<script type="text/javascript">
  $(".chosen").chosen();
</script>