{% extends 'base2.html' %}
{% load static %}
{% block title %}
  SmartPlanner
{% endblock %}

{% block static_files %}
  <link rel="stylesheet" href="{% static 'css/mapstyle.css' %}">
{% endblock %}

{% block body %}

<main id="main-feature">
  <div class="row">

    <div class="col-xs-6 col-md-4">
      <section class="detail">
        <div class="container1">
          <h1>SmartYatra</h1>
        <div class="container2">
          <form class="form1" action="" method="POST">
            <label for="source">Source:</label>
            <input type="text" id="source" name="source" required>
            <label for="destination">Destination:</label>
            <input type="text" id="destination" name="destination" required>
            <button type="submit">Go</button>
          </form>
        </div>
      </div>
      </section>
    </div>
    <div class="col-xs-12 col-md-8">
      map
    </div>
  </div>
</main>
{% endblock %}