.buttons-container {
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.buttons-container .btn {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #62d450;
}

#cover h1 {
    font-size: calc(8.375rem + 1.5vw);
}

#cover{
    background-color: #052d42;
}

#cover .container{
    margin: 50px 20px 20px 50px;
    color: white;
}

.features .img-fluid{
    margin-top: 30px;
}

.row .btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}