#heading {
    color: white;
}

#main-feature {
    margin-top: 80px;
    display: flex;
}

#attractive-heading {
    color: black;
    opacity: 0;
    animation: appear 1s forwards;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.detail {
    background-color: #7c92bd;
}

.detail .container1 {
    position: relative;
    overflow: hidden;
    margin: 88px 23px 180px 23px;
    background: #052d42;
    box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
    transition: all 0.3s ease-in-out;
    text-align: center;
    border: 0px solid #fff;
}

#formset .container {
    background: #eeeef1;
}

.form1 {
    max-width: 400px;
    margin: 0 53px 0 38px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

*/ #main-feature {
    width: 100%;
    margin-top: 5%;
    /* when you fix the header hen remove this  */
    background-color: white;
}

.box1 {
    margin: 1px;
    background-color: beige;
    border-radius: 10px;
}

.box1 {
    margin: 1px;
    background-color: beige;
    border-radius: 10px;
}

.main-containers {
    margin: 2%;
    width: 35%;
    align-items: center;
}

.main-div {
    display: flex !important;
    width: 100%;
    height: 100%;
}

.container2 {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    align-items: center;
    /* margin-bottom: 5%; */
}

.heading {
    align-items: center;
}

.map-container {
    display: flex !important;
    height: 100vh;
    width: 57% !important;
    margin: 2%;
}

.map-column {
    position: fixed;
    top: 0%;
    display: flex !important;
    height: 100%;
    width: 100%;
}

#map {
    display: flex !important;
    height: 100%;
    width: 100%;
}

.submit-your-path {
    align-items: center;
    justify-content: center;
}

.form1 {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5%;
}

.Col-1 {
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 2%;
    margin-left:10%;
}

.Col-2 {
    display: flex;
    justify-content: center;
    /* Horizontal alignment */
    align-items: center;
    /* Vertical alignment */
}

.col1 {
    width: 32%;
    margin-left: 2%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.col2 {
    width: 32%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.col3 {
    margin-top: 5%;
    width: 32%;
    margin-right: 2%;
    justify-content: center;
    align-items: center;
}
.img11 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img12 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.imagewa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.timewa {
    display: flex !important;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.small-col {
    display: grid;
    width: 100%;
    height: 100%;
}

.container3 {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 5%;
    align-items: center;
    background-color: black;
}

.col{
   background-color: black;
   justify-self: center;
   border-width: 20%;   
}

/* from here table css start */

#data-table {
    background-color: white;
    margin: 2%;
    border-radius: 10px;
}

.table-borderless{
   margin-right: 0%;
   margin-left: 0%;
}

#data-body{
    border-radius: 10px;
}

.row {
    background-color:black;
}

#data-body td {
    border-radius: 10px;
    font-size: 18px;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.locationName{
    margin-top:15px;
    font-weight: 700;
    font-variant-caps: all-small-caps;
    font-stretch: expanded;
}

.arrowRow{
    height: 10%;
}

.tableBusImg1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.tableBusImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.tableArrowImg1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.tableArrowImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.t1{
    font-weight: bold;
    color: black;
}