#heading {
    color: white;
}

#main-feature {
    margin-top: 80px;
    display: flex;
}

#attractive-heading {
    color: #025464;
    opacity: 0;
    animation: appear 1s forwards;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

*/ #main-feature {
    width: 100%;
    margin-top: 5%;
    /* when you fix the header hen remove this  */
    background-color: white;
}

.box1 {
    margin: 1px;
    background-color: #025464;
    border-radius: 10px;
}

.main-containers {
    margin: 2%;
    width: 35%;
    align-items: center;
}

.main-div {
    display: flex !important;
    width: 100%;
    height: 100%;
}

.container3 {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    align-items: center;
    /* margin-bottom: 5%; */
}

.map-container {
    display: flex !important;
    height: 100vh;
    width: 57% !important;
    margin: 2%;
}

.map-column {
    position: fixed;
    top: 0%;
    display: flex !important;
    height: 100%;
    width: 100%;
}

#map {
    display: flex !important;
    height: 100%;
    width: 100%;
}

.image00 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
}

.image01 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
    margin-top: 4%;
}

.col {
    /* background-color: white; */
    /* justify-self: center; */
    border-width: 20%;
    margin: 2%;
}

.text-center {
    margin: 5%;
    /* background-color: white; */
}

.row-cols-3 {
    border-radius: 20px;
}

.box1 .col {
    transition: transform 0.3s ease-in-out;
}

.box1 .col:hover {
    transform: translateY(-10px);
}