#heading {
    color: white;
}

#main-feature {
    margin-top: 80px;
    display: flex;
}

#attractive-heading {
    color: black;
    opacity: 0;
    animation: appear 1s forwards;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

*/ #main-feature {
    width: 100%;
    margin-top: 5%;
    /* when you fix the header hen remove this  */
    background-color: white;
}

.box1 {
    margin: 1px;
    background-color: beige;
    border-radius: 10px;
}

.main-containers {
    margin: 2%;
    width: 35%;
    align-items: center;
}

.main-div {
    display: flex !important;
    width: 100%;
    height: 100%;
}

.container3 {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    align-items: center;
    /* margin-bottom: 5%; */
}

.map-container {
    display: flex !important;
    height: 100vh;
    width: 57% !important;
    margin: 2%;
}

.map-column {
    position: fixed;
    top: 0%;
    display: flex !important;
    height: 100%;
    width: 100%;
}

#map {
    display: flex !important;
    height: 100%;
    width: 100%;
}

.image00 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
}

.image01 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
    margin-top: 2%;
}

.image02{
   margin-bottom: 1%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 45%;
   border-radius: 10px;
}

.col {
    /* background-color: white; */
    /* justify-self: center; */
    border-width: 20%;
    margin: 2%;
}

.text-center {
    margin: 5%;
    /* background-color: white; */
}

.row-cols-3 {
    border-radius: 20px;
}

.box1 .col {
    transition: transform 0.3s ease-in-out;
}

.box1 .col:hover {
    transform: translateY(-10px);
}

.form1 {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5%;
}

.Col-1 {
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 2%;
    margin-left: 10%;
}

.Col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    align-items: center;
    /* margin-bottom: 5%; */
}

.stops{
    margin-top: 3%;
    align-items: center;
}

.stopHeading{
    color: rgb(207, 199, 199);
    margin-left: 40%;
}

.box2 {
    margin: 1px;
    background-color: beige;
    border-radius: 10px;
}

.container2 {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    align-items: center;
    /* margin-bottom: 5%; */
}


#data-table {
    background-color: white;
    margin: 2%;
    border-radius: 10px;
}

.table-borderless{
    margin-right: 0%;
    margin-left: 0%;
}
 
#data-body{
     border-radius: 10px;
}
 
#data .row {
     background-color:black;
}

#data-body td {
    border-radius: 10px;
    font-size: 18px;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.locationName{
    margin-top: 9%;
    font-weight: 700;
    font-variant-caps: all-small-caps;
    font-stretch: expanded;
}

.arrowRow{
    height: 10%;
}

.tableBusImg1 {
    display: block;
    margin-left: 30px;
    margin-right: auto;
    width: 30%;
}

.tableBusImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.tableAutoImg1 {
    display: block;
    margin-left: 30px;
    margin-right: auto;
    width: 30%;
}

.tableAutoImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.tableArrowImg1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.tableArrowImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: -10%;
    margin-bottom: -20%;
}

.t1{
    font-weight: bold;
    color: black;
}

.total-time{
    background-color: beige;
    margin: 2%;
}

.total-travelling-time{
    margin-top:2%;
}

